<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Tablas de Multiplicar</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <link rel="stylesheet" href="/static/css/skeleton.css">
    <script src='main.js'></script>
</head>
<body>
    <header>
        <h1>Tablas de Multiplicar</h1>
    </header>
    <section>
    <form class="button-primary" method="POST" action="/tabla">
        <h5>Elige una Tabla:</h5>
        <select class="button-primary" name="tablas">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
        </select>
     
        <button class="button button-primary" name="btnTabla" type="submit">Aceptar</button>
    </form>
    </section>
    
</body>
<footer>
    &copy;Aplicación desarrollada por JVNCode
</footer>
</html>